
.box{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 420px;
    background-color: #FFF9F1;
    border: 1px solid #F9C06A6B;

   
}


.img{
    width: 280px;
    height: 250px;
    object-fit: cover;

}

.details{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 186px;

    

}

.name{
    font-size: 22px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #603809;
}

.contains{
    color: #1E1E1E;
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 400;
}

.rate{
    color: #603809;
    font-size: 18px;
    font-family: Playfair Display;
    font-weight: 700;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -25px;

}