
.hero{
    height: 790px;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.hero-div{
display: flex;
flex-direction: column;
width: 527px;
height: 490px;
padding: 100px 0 0 93px;  

}

.hero-title{
    color: white;
    font-size: 22px;
    font-family: Playfair Display;
    font-weight: 500;

}

.hero-subtitle{
    color: white;
    font-size: 220px;
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero-description{
    color: white;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 20px;

}


.discover{
background-color: #FFFEFC;
margin-top: 150px;
margin-left: 93px;


}

.discover-div{
display: flex;
flex-direction: row;


}

.left-div{
width: 585px;
height: 348px;
display: flex;
flex-direction: column;
gap: 32px;

}


.discover-title{
    font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #603809;

}

.discover-description{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #707070;
}

.right-div{
    background-image: url(../../assets/coffee-beans.png);
    width: 500px;
    height: 484px;
    margin-top: -70px;
    margin-left: 270px;

}

.splash{
    background-image: url(../../assets/splashLeft.png);
    width: 498px;
    height: 272px;
    margin-left: -97px;
    background-repeat: no-repeat;
    margin-top: -32px;
    position: relative;
    top: -105px;

}


.flavours-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    gap: 20px;
}

.flavours-title{  
     font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #603809;}

.flavours-subtitle{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #707070;
}

.flavours-types{
  margin-top: 20px;
  display: flex;
  gap: 70px;
}

.splash-right{
    display: flex;
    justify-content: flex-end;
    background-image: url(../../assets/splashLeft.png);
    transform: rotate(-180deg); 
    width: 498px;
    height: 272px;
    background-repeat: no-repeat;
    margin-top: 12px;
    position: relative;

}



.whyus-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    gap: 20px;
}

.whyus-title{  
     font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #603809;}

.whyus-subtitle{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #707070;
}

.whyus-speciality{
  margin-top: 20px;
  display: flex;
  gap: 70px;
}

.whyus-quote{
    margin-top: 20px;
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #707070;
}

.whyus-statement{  
    font-size: 30px;
   font-family: Playfair Display;
   font-weight: 700;
   color: #603809;}

.join-us{
    margin-top: -15px;
}

.heroTwo{
    height: 700px;
    background-image: linear-gradient(rgba(96, 56, 9, 0.8), 
    rgba(96, 56, 9, 0.7)),url(../../assets/heroTwo.png);
    background-size: cover;
    margin-top: 100px;
    display: flex;
    overflow-x: hidden;

}

.heroTwo-rDiv{
    position: relative;
    width: 657px;
    height: 574px;

}

.beans-img{
background-image: url(../../assets/herotwoBean.png);
width: 657px;
height: 574px;
background-repeat: no-repeat;
position: relative;
left: 415px;
top: 125px;
}

.cup-img{
background-image: url(../../assets/herotwoCup.png);
background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top:80px;      
  left: 415px;
  width: 500px;
  height: 580px;
  z-index: 1;
}

.heroTwo-lDiv{
    width: 575px;
    height: 304px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 93px;
    top: 170px;

}

.heroTwo-title{
    font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #ffffff;
}


.heroTwo-subtitle{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #ffffff;
    width: 409px;
    height: 68px;
    margin-top: 10px;
}

.feedback{
    overflow: hidden;
}

.feedback-div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 32px;
 margin-top: 110px;


}

.feedback-splash1{
    background-image:url(../../assets/splashRight.png) ;
    width: 498px;
    height: 272px;
    background-repeat: no-repeat;
    position: relative;
    left: 637px;
    top:-90px;
    z-index: 1;
}

.feedback-title{
    font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color:#603809;
    
}

.feedback-subtitle{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #707070;
    position: relative;
    top:-310px;
}

.feedbackCard-div{
    position: relative;
    top:-300px;
}

.feedback-splash2{
    background-image:url(../../assets/splashTwo.png) ;
    width: 498px;
    height: 272px;
    background-repeat: no-repeat;
    position: relative;
    left: -515px;
    top:-480px;
    z-index: 1;
}


.subscribe-div{
    height: 375px;
    background-image: linear-gradient(rgba(96, 56, 9, 0.8), 
    rgba(96, 56, 9, 0.7)),url(../../assets/heroTwo.png);
    background-size: cover;
    position: relative;
    margin-top: -375px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscribe-title{
    font-size: 54px;
    font-family: Playfair Display;
    font-weight: 700;
    color:#ffffff;
    
}

.subscribe-subtitle{
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #fffbfb;

}

.subscribe-form {
    display: flex;
    align-items: center;
  }
  
  .email-input {
    padding: 10px;
    font-size: 16px;
    width: 330px;
    border: 1px solid #ccc;  
    font-family: Playfair Display;
    height: 30px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #F9C06A;
    border: none;
    cursor: pointer;
    font-family: Playfair Display;
    height: 52px;
    font-weight: 700;
  }


  /* .footer{
    position: relative;
    top: -460px;
    background-image: linear-gradient(rgba(96, 56, 9,1), 
    rgba(96, 56, 9, 0.5)),url(../../assets/footer.png);
  } */