.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 93px 0 93px;  /* top, right, bottom, left */
  
     
}

.logo-link{
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

.nav-links{
    display: flex;
    gap: 40px; 
    align-items: center;
    
}

.auth-buttons{
    display: flex;
    gap: 19px;
    align-items: center;
    
}

.sign-up{
    position: relative;
    top: -16px;
}



